{
 "presets": ["react","es2015","stage-0", "flow"],
 "plugins": ["transform-strict-mode"],
 "sourcemaps": true,
 "retainLines": true,
 "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }]
      ]
    }
  }
}
