{
    "presets": [
        "react",
        [
            "env",
            {
                "target": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-strict-mode",
        "transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "react-transform",
                    {
                        "transforms": [
                            {
                                "transform": "livereactload/babel-transform",
                                "imports": [
                                    "react"
                                ]
                            }
                        ]
                    }
                ]
            ]
        }
    }
}