

secrets/

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

.remote-sync.json
rethinkdb_data

public/badmars/js/badmars.js
public/dashboard/js/index.js
