<!DOCTYPE html>
<div class="jumbotron text-center">
  <h1>Bad Mars</h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"> <a href="/badmars">Home</a></li>
        <li> <a href="planet_viewer">Planet Viewer</a></li>
		<li> <a href="badMars_v1">Multiplayer Demo</a></li>
        <li> <a href="tankvr.html">Tank VR</a></li>
        <li> <a href="docs/index.html">Server Documentation</a></li>
        <li> <a href="clientdocs/index.html">Client Documentation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
          <li class="dropdown">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#"><%= user.username %><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
            <li><a href="/auth/google"><span class="glyphicon glyphicon-log-in"></span> Google Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
