body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%
}

button {
    z-index: 3;
}

#buttons {
    position: absolute;
    left: 10px;
    top: 200px;
    width: 100px;
    padding: 5px;
}

#info .progress-bar {
    padding: 5px;
}

.dg.ac {
	z-index: 5 !important;
}

#info {
    position: absolute;
    left: 10px;
    top: 50px;
    bottom: auto;
    width: 300px;
    height: auto;
    padding: 5px;
}

#HUDPanel {
    z-index: 1;
}

#login {
    z-index: 3;
}

#content {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#threePanel {
    z-index: 0;
}

.wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/css/material/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/css/material/MaterialIcons-Regular.woff2) format('woff2'),
      url(/css/material/MaterialIcons-Regular.woff) format('woff'),
      url(/css/material/MaterialIcons-Regular.ttf) format('truetype');
  }


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
