body {
    margin: 0;
	background: #252525;
}

.nav-bar {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.nav-link {
	margin: 10px;
}

.pane-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

.login-paper {
	margin: 15px;
	width: 300px;
}

.info-paper {
	flex: 2;
	margin: 15px;
}
.pane-row {
	flex-direction: row;
	display: flex;
	flex: 1;
	align-items: flex-start;
	max-width: 1100px;
	min-width: 700px;
}