<!DOCTYPE html>
<div class="jumbotron text-center">
  <h1>Bad Mars</h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"> <a href="/badmars">Home</a></li>
		<li> <a href="badmars">Multiplayer Demo</a></li>
      </ul>
    </div>
  </div>
</nav>
