<!DOCTYPE html>

<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <% include ../partials/header %>
        <script src="js/dependencies/three.min.js"></script>
        <script src="js/dependencies/Simplex.js"></script>
        <script src="js/dependencies/FirstPersonControls.js"></script>
        <script src="js/planet_viewer.js"></script>
      </header>
      <main>
        <div id="threePanel" class="container-fluid"></div>
      </main>
    </div>
    <footer class="footer">
      <% include ../partials/footer %>
    </footer>
  </body>

</html>
