<!DOCTYPE html>

<html>
  <head>
    <% include ../partials/head %>
    <script src="js/badmars/dependencies/three.min.js"></script>
    <script src="js/badmars/dependencies/dat.gui.min.js"></script>
    <script src="js/badmars/dependencies/stats.min.js"></script>
    <script src="js/badmars/dependencies/OBJLoader.js"></script>

    <script src="js/badmars/dependencies/Simplex.js"></script>

    <script src="js/badmars/units.js"></script>
    <script src="js/badmars/nav.js"></script>
    <script src="js/badmars/display.js"></script>
    <script src="js/badmars/planet.js"></script>
    <script src="js/badmars/planet_generator.js"></script>
    <style>
      body {
        margin: 0;
        overflow: hidden;
      }

      canvas {
        width: 100%;
        height: 100%
      }
    </style>
  </head>
  <body>
    <div class="dropdown" style="position: absolute; left: 10px; top: 10px; width: 100px">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">World List
    <span class="caret"></span></button>
    <ul class="dropdown-menu" id="worldMenu">
    </ul>
    </div>
    <button type="button" class="btn btn-primary" onclick="saveWorld()" style="position: absolute; left: 190px; top: 10px; width: 60px">Save</button>
    <button type="button" class="btn btn-primary" onclick="newWorld()" style="position: absolute; left: 120px; top: 10px; width: 60px">New</button>
    <input class="form-control" id="worldName" style="position: absolute; left: 260px; top: 10px; width: 180px;" placeholder="Enter Name">

    <button id="storageButton" type="button" class="btn btn-primary" onclick="storageClick()" style="position: absolute; left: 10px; top: 200px; width: 80px">Storage</button>
    <button id="tankButton" type="button" class="btn btn-primary" onclick="tankClick()" style="position: absolute; left: 10px; top: 240px; width: 80px">Tank</button>
    <canvas id='threePanel'>
    </canvas>
  </body>

</html>
