<!DOCTYPE html>

<html>

<head>
  <title>Bad Mars</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/badmars.css">

  <script src="js/three.js"></script>
  <script src="js/stats.min.js"></script>
  <!-- <script src="js/watchdog.js"></script> -->

  <script src="js/badmars.js"></script>
</head>

<body>
  <div class="wrapper">
    <canvas id='HUDPanel'></canvas>
    <canvas id='threePanel'></canvas>
    <div id="content"></div>
  </div>
</body>

</html>